.info__heading {
        display: flex;
        justify-content: space-between;

        margin-bottom: var(--msp-1);

        color: var(--color-on-background);
}

.info__heading-icon {
        opacity: 0.8;

        height: var(--msp-1);

        fill: var(--color-on-background);
}
