.info-intro {
        display: flex;

        padding: var(--msp-1) var(--gap);
}

.info-intro__media {
        border-radius: 50%;
        margin: auto 0;
        height: 75px;
        width: 75px;
}

.info-intro__text {
        flex: 1 100%;

        padding-left: var(--gap);
        height: fit-content;
        margin: auto 0;
}

.info-intro__header {
        font-weight: 800;
}

@media screen and (min-width: 766px) {
        .info-intro__media {
                height: 150px;
                width: 150px;
        }

        .info-intro__text {
                flex: 1 auto;
        }
}
