.info-card {
        flex-direction: column;

        max-width: 33rem;
        padding: calc(var(--msp-1) / 2) var(--gap);
        margin-bottom: var(--msp-1);
}

.info-card:last-of-type {
        margin-bottom: 0;
}

.info-card > * {
        z-index: 1;
}

.info-card__title {
        opacity: 0.9;
}

.info-card__subtitle {
        opacity: 0.8;

        padding-bottom: calc(var(--msp-1) / 2);

        color: var(--color-primary);
}

.info-card__body {
        padding-bottom: calc(var(--msp-1) / 2);
}

.info-card__footer {
        display: flex;
        justify-content: space-between;
}

.info-card__subscript {
        opacity: 0.8;

        color: var(--color-primary);
}
