.info__story {
        display: flex;
        flex-wrap: wrap;

        padding-bottom: var(--msp-1);

        background-color: transparent;
}

.info__story > * {
        z-index: 1;
}

.info__chapter {
        flex: 1 1 auto;

        padding: var(--msp-1) var(--gap) 0;
}

.info__header {
        font-weight: 800;
}

.info__left {
        flex: 1 auto;
        max-width: 100%;
}

.info__right {
        flex: 1 auto;
        max-width: 100%;
}

@media screen and (min-width: 1194px) {
        .info__left {
                flex: 1 50%;
        }

        .info__right {
                flex: 1 50%;
        }
}
