.info__story {
        display: flex;
        flex-direction: column;

        background-color: transparent;
}

.info__story > * {
        z-index: 1;
}

.info__chapter {
        flex: 1 1 auto;
}

.info__header {
        padding-bottom: var(--msp-1);

        font-weight: 800;
}
