.snackbar {
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 50%;

        transform: translateX(-50%) translateZ(0);
        display: flex;
}

.snackbar__container {
        position: relative;
        bottom: var(--msp-1);

        display: flex;

        padding: var(--msp1) var(--gap);
}

.snackbar__content {
        display: flex;

        padding: calc(var(--msp-1) / 2) var(--gap);
        min-width: calc(100vw - var(--gap) * 2);

        background-color: var(--color-surface);
}

@media screen and (min-width: 480px) {
        .snackbar__content {
                min-width: unset;
        }
}

.snackbar__action {
        align-items: center;

        display: flex;
        opacity: 0.8;

        padding-left: var(--gap);
        margin-left: auto;
        height: var(--msp-1);

        fill: var(--color-on-surface);
}

.snackbar__action svg {
        cursor: pointer;
}

.snackbar__content > * {
        z-index: 2;
}
