.main {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 150px;
        width: 100%;
}

.main.about {
        background-color: pink;
        color: white;
}

.main a {
        padding: 0 1rem;
        color: white;
}
