.button {
        position: relative;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        color: var(--color-on-background);
        text-transform: uppercase;
        line-height: 24px;
        font-family: unset;
        font-size: 16px;
        font-weight: 500;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        outline: none;
}

.button__shadow {
        opacity: 0;
        transform: translateZ(0);
        transition: opacity 0.15s cubic-bezier(0.4, 0, 0.6, 1);
}

.button_flat__shadow {
        background-color: var(--color-background);
}

.button_disabled {
        opacity: .12; important;
        cursor: not-allowed;
}

.button_contained {
        background-color: var(--color-background);
}

.button_outlined {
        box-shadow: inset 0 0 0 1px var(--color-on-background);
}

.button_outlined,
.button_flat {
        background-color: transparent;
}

.button_link {
        text-decoration: none;
}
