.card {
        position: relative;
        display: flex;
        flex-direction: column;
}

.card > *:not(.elevation) {
        position: relative;
}

.card_inset .card__elevation {
        opacity: 0;
}

.card_inset:hover .card__elevation {
        opacity: 1;
}

.card__elevation {
        opacity: 0;
        transform: translateZ(0);
        transition: opacity 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}

.card__media {
        background-color: var(--color-primary);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

.card__media img {
        display: flex;
        height: auto;
}

.card__text {
        padding: 16px 0;
}

.card__header {
        padding: 0 16px;
}

.card__body {
        padding: 16px 16px 0 16px;
}

.card__actions {
        padding: 24px 16px 0 16px;
        display: flex;
        flex-direction: column;

        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
}

@media screen and (max-width: 600px) {
        .card__media {
                height: 50vh;
                width: 100% !important;
        }

        .card__actions > * {
                flex: 100%;
                margin-bottom: 8px;
        }

        .card__actions > *:last-of-type {
                margin-bottom: 0;
        }
}

@media screen and (min-width: 600px) {
        .card {
                flex-direction: row;
        }

        .card__media {
                height: auto;
        }

        .card__actions {
                flex-direction: row;
        }

        .card__actions > * {
                margin-right: 8px;
        }

        .card__actions > *:last-of-type {
                margin-right: 0;
        }
}
