.section-subscribe__title {
        padding-bottom: calc(var(--msp-1) / 2);
}

.section-subscribe__subtitle {
        opacity: 0.9;

        padding-bottom: calc(var(--msp-1) * 1.5);
}

.section-subscribe .card {
        max-width: 100%;
}

@media screen and (min-width: 990px) {
        .section-subscribe .card {
                max-width: 50%;
        }
}
