.section-code {
        background-color: var(--color-background);
}

.section-code__title {
        padding-bottom: calc(var(--msp-1) / 2);
        margin-left: -2px;
}

.section-code__subtitle {
        opacity: 0.9;

        padding-bottom: calc(var(--msp-1) * 1.5);
}

.section-code__text {
        padding-bottom: var(--msp-1);
}
