.hero {
        display: flex;
        flex-wrap: wrap;
}

.hero__media {
        flex: 1 100%;
        object-fit: cover;
        object-position: top;

        width: 100%;
        max-height: 75vh;
}

.hero__text {
        flex: 1 100%;
}

.hero__text .card {
        max-width: fit-content;
}

.hero__text .card__header {
        padding-bottom: var(--msp-1);
}

.hero__text .card__footer {
        border: none !important;
        padding-top: 0 !important;
}

.hero__title {
        margin-left: -1px;

        font-weight: 900;
        text-transform: uppercase;
}

.hero__subtitle {
        opacity: 0.9;

        font-weight: 600;
}

@media screen and (max-width: 766px) {
        .section-hero {
                padding-top: var(--msp-1);
                padding-bottom: var(--msp-1);
        }

        .hero__text a,
        .hero__text .button {
                width: 100%;
        }

        .hero__text .button_type_raised {
                margin-bottom: calc(var(--msp-1) / 2);
        }

        .hero__title {
                font-size: var(--msc-4) !important;

                line-height: calc(var(--msp-1) * 1.25) !important;
        }
}

@media screen and (min-width: 766px) and (max-width: 990px) {
        .hero__subtitle {
                padding: 0 !important;
        }
        .hero__title {
                line-height: calc(var(--msp-1) * 1.5) !important;
        }
}

@media screen and (max-width: 990px) {
        .hero__text .card__header {
                padding-bottom: calc(var(--msp-1) / 2);
        }
}

@media screen and (min-width: 766px) {
        .hero__media {
                flex: 1 50%;

                max-width: 50%;
                height: auto;
                max-height: fit-content;
        }

        .hero__text {
                display: flex;
                flex: 1 50%;
                flex-direction: column;
                justify-content: center;

                margin-left: calc(var(--msc-6) * -1);
        }

        .hero__title {
                margin-left: -2px;
        }

        .hero__subtitle {
                padding-bottom: calc(var(--msp-1) / 4);
        }

        .hero__text .button_type_raised {
                margin-right: var(--gap);
        }
}
