.section-articles__title {
        padding-bottom: calc(var(--msp-1) / 2);
        margin-left: -2px;
}

.section-articles__subtitle {
        opacity: 0.9;

        padding-bottom: calc(var(--msp-1) * 1.5);
}
