.section-code:before {
        z-index: -1;
}

.section-code__title {
        padding-bottom: calc(var(--msp-1) / 2);
        margin-left: -2px;
}

.section-code__subtitle {
        padding-bottom: calc(var(--msp-1) * 1.5);
        opacity: 0.9;
}

.section-code__text {
        padding-bottom: var(--msp-1);
}
