.hero {
        display: flex;
        flex-wrap: wrap;
}

.hero__media {
        flex: 1 100%;
}

.hero__media {
        width: 100%;
        height: auto;
}

.hero__text {
        flex: 1 100%;
}

.hero__text .card__header .hero__title {
        padding-top: calc(var(--msp-1) / 8);
        margin-left: -1px;

        letter-spacing: 0.025rem;
        font-weight: 900;
}

.hero__text .link {
        font-weight: 600;
}

@media screen and (max-width: 766px) {
        .card__footer a,
        .card__footer a .button {
                width: 100%;
        }

        .card__footer .button_type_raised {
                margin-bottom: calc(var(--msp-1) / 2);
        }

        .hero__text .card__header .hero__title {
                padding: 0;

                line-height: calc(var(--msp-1) * 2);
                letter-spacing: calc(var(--msc-4) * -0.05);
                font-size: var(--msc-4);
        }
}

@media screen and (min-width: 766px) {
        .hero__media {
                flex: 1 50%;

                max-width: 50%;
        }

        .hero__text {
                display: flex;
                flex: 1 50%;
                flex-direction: column;
                justify-content: center;

                margin-left: calc(var(--msc-6) * -1);
        }

        .card__footer .button_type_raised {
                margin-right: var(--gap);
        }
}
