.main {
        display: flex;
        flex-wrap: wrap;
}

.face {
        flex: 1 100%;
}

.face {
        width: 100%;
        height: auto;
}

.description {
        flex: 1 100%;
}

.description .content .title {
        margin-left: -1px;
}

.card__footer .button_type_raised {
        margin-right: var(--gap);
}

@media screen and (min-width: 766px) {
        .face {
                flex: 1 50%;
                max-width: 50%;
        }

        .description {
                display: flex;
                flex: 1 50%;
                flex-direction: column;
                justify-content: center;

                margin-left: calc(var(--msc-6) * -1);
        }

        .description .content .title {
                margin-left: -1px;
        }

        .description .content .legend {
                padding-top: calc(var(--msp-1) / 4);
        }

        .description .text {
        }
}

@media screen and (min-width: 990px) {
}
