.main {
        display: flex;
        flex-wrap: wrap;
}

.face {
        flex: 1 100%;
}

.face img {
        width: 100%;
        height: auto;
}

.description {
        flex: 1 100%;

        margin-top: calc(var(--msp-1) * -2);
}

/* card component fixes */

.card__text {
        cursor: text;
}

.card__text:before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        height: 100%;
        width: 100%;
}

.card__elevation {
        position: absolute !important;
}

/* card component fixes end */

.description .content .title {
        margin-left: -1px;
}

@media screen and (min-width: 766px) {
        .face {
                flex: 1 50%;
        }

        .description {
                display: flex;
                flex: 1 50%;
                flex-direction: column;
                justify-content: center;

                margin-left: calc(var(--msc-6) * -1);
        }

        .description .content {
                /*
                padding: var(--msp-1) var(--gap);
                background-color: var(--color-primary);
                color: var(--color-on-primary);
                */
        }

        .description .content .title {
                /* padding-top: calc(var(--msp-1) / 4); */
                margin-left: -1px;
        }

        .description .content .legend {
                padding-top: calc(var(--msp-1) / 4);
        }

        .description .text {
        }
}
