.vpadding_s {
        padding-top: calc(var(--msp-1) / 2);
        padding-bottom: calc(var(--msp-1) / 2);
}

.vpadding_m {
        padding-top: var(--msp-1);
        padding-bottom: var(--msp-1);
}

.vpadding_l {
        padding-top: calc(var(--msp-1) * 2);
        padding-bottom: calc(var(--msp-1) * 2);
}
