.footer {
        padding: calc(var(--msp-1) * 1) 0;

        background-color: var(--color-background);
}

.footer__container {
        display: flex;
        flex-direction: column;
}

.footer__navitem,
.footer__brand {
        font-size: 20px;
        line-height: 20px;
        font-weight: 800;
}

.footer__brand {
        opacity: 0.8 !important;

        padding-bottom: calc(var(--msp-1) / 2);
}

.footer__brand:hover {
        opacity: 0.9 !important;
}

.footer__nav {
        flex-basis: auto;
}

.footer__navitem {
        margin-right: var(--gap);
}

@media screen and (min-width: 480px) {
        .footer__container {
                flex-direction: row;
                justify-content: space-between;
        }
        .footer__brand {
                padding-bottom: 0;
        }

        .footer__navitem,
        .footer__brand {
                font-size: 24px;
                line-height: 24px;
        }
}
