.article-preview {
        margin-bottom: var(--msp-1);
        max-width: 100vw;

        color: var(--color-on-background);
}

.article-preview .card__text {
        overflow: hidden;
}

.article-preview__tags,
.article-preview__subtitle {
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
}

.article-preview__tags {
        padding-bottom: calc(var(--msp-1) / 4);
}

.article-preview__title {
        opacity: 0.9;

        padding-bottom: calc(var(--msp-1) / 0);
        margin-left: -1px;
}

.article-preview__tags,
.article-preview__date,
.article-preview__subtitle {
        opacity: 0.6;
}

.article-preview {
        margin-bottom: calc(var(--msp-1) * 1);
}
