a {
        text-decoration: none;
}

.link_active {
        opacity: 0.9 !important;
}

.link_active:after {
        transform: scaleX(1) !important;
        opacity: 0.38 !important;
}

.theme_color_dark {
        --color-on-primary-light: #000000c2 !important;
}

.theme_typography_default {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
}

.layout__header,
.drawer,
.drawer-scrim_open {
        z-index: 25 !important;
}

.button__elevation,
.button__elevation:before {
        position: absolute !important;
}

.subtle-link {
        opacity: 0.6;

        transition: color var(--animation-duration-2xl)
                        cubic-bezier(
                                var(--animation-fn-standard-1),
                                var(--animation-fn-standard-2),
                                var(--animation-fn-standard-3),
                                var(--animation-fn-standard-4)
                        ),
                background-color var(--animation-duration-2xl)
                        cubic-bezier(
                                var(--animation-fn-standard-1),
                                var(--animation-fn-standard-2),
                                var(--animation-fn-standard-3),
                                var(--animation-fn-standard-4)
                        ),
                opacity var(--animation-duration-m)
                        cubic-bezier(
                                var(--animation-fn-sharp-1),
                                var(--animation-fn-sharp-2),
                                var(--animation-fn-sharp-3),
                                var(--animation-fn-sharp-4)
                        );

        font-weight: 600;
        color: var(--color-primary);
}

.subtle-link:hover {
        opacity: 0.9;
}

.text_size_s {
        line-height: var(--msp-1) !important;
}

/* subpixel calculation fix */
@media screen and (min-width: 766px) {
        html {
                font-size: 125% !important;
        }
}
