a {
        text-decoration: none;
}

.section {
        padding: var(--msp-1) 0;
}

.link_active {
        opacity: 0.9;
}

.link_active:after {
        transform: scaleX(1) !important;
        opacity: 0.38;
}
